:root {
  /* Palette */
  /* --white-color: #fcfcfc; */
  --Primary-red: #fb545b;
  --Primary-blue: #3e45ec;
  --black-color: #14151a;
  --gray-900: #dddcdf;
  --gray-700: #a2a2ac;
  --gray-500: #888790;
  --white-color: #ffffff;
  --white-500: #79747e;
}
