.password-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafb;
  border-radius: 25px;
  width: 696px;
  padding: 20px 28px;
  margin: 8px 0;
}

.password-input-wrapper.error {
  border: 1px solid #fb545b;
}

.password-input-wrapper label {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 696px;
  gap: 10px;
  font-weight: 600;
}

.password-input-wrapper input {
  background-color: #fafafb;
  border: none;
  outline: none;
  font-weight: 400;
}

.password-toggle-button {
  border: none;
  background-color: transparent;
}

.password-message {
  position: absolute;
  margin: 8px 0 0;
  color: #fb545b;
  font-size: 12px;
  font-weight: 400;
}
