@import url('../../css/typography.css');

.form-body {
  margin: 140px 612px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-label {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  font-family: var(--font-pretendard-semibold-14);
  background-color: #fafafb;
  padding: 20px 28px;
  border-radius: 25px;
  width: 696px;
  gap: 10px;
}

.create-input {
  font-family: var(--font-pretendard-regular-17);
  background-color: #fafafb;
  color: #888790;
  border: none;
}

/* .passwordInput {
} */
