.create-button {
  width: 696px;
  border: none;
  border-radius: 37px;
  padding: 15px 135px;
  color: var(--white-color);
  background-color: var(--gray-700);
  font: var(--font-pretendard-regular-18);
  margin: 64px 0 213px;
}


@media (max-width: 767px) {
  .create-button {
    width: 344px;
    border: none;
    border-radius: 37px;
    padding: 15px 135px;
    color: var(--white-color);
    background-color: var(--gray-700);
    font: var(--font-pretendard-regular-18);
    margin: 64px 0 213px;
  }

.create-button .active {
  background-color: #3e45ec;
}