@import url('../../css/typography.css');

.form-body {
  margin: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-label {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  font-family: var(--font-pretendard-semibold-14);
  background-color: #fafafb;
  padding: 20px 28px;
  border-radius: 25px;
  width: 696px;
  gap: 10px;
}

.create-input {
  font-family: var(--font-pretendard-regular-17);
  background-color: #fafafb;
  border: none;
  outline: none;
  transition: border-color 0.3s ease;
}

.create-input::placeholder {
  color: #888790;
}

.create-label.error {
  border: 1px solid #fb545b;
}

.create-label.valid {
  border: 1px solid #3e45ec;
}

.errorUserId {
  color: #fb545b;
  font-size: 12px;
  font-weight: 400;
}

.validUserId {
  color: #3e45ec;
  font-size: 12px;
  font-weight: 400;
}
