@import url('../../css/typography.css');

.img-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafb;
  padding: 20px 28px;
  border-radius: 25px;
}

/* '상품 대표 이미지' & '상품 이미지를 첨부해주세요.' 글자 */
.item-img-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-img-title p {
  color: #888790;
  white-space: nowrap;
}

.item-img-label {
  color: #3e45ec;
  border: 1px solid #3e45ec;
  border-radius: 8px;
  padding: 6px 12px;
}

.item-img-input {
  display: none;
}

.img-preview {
  width: 95px;
  height: 95px;
}

.close-img-wrapper {
  position: relative;
}

.delete-icon {
  position: absolute;
  top: 18px;
  left: 71px;
  right: 8px;
  cursor: pointer;
  border: none;
  background: none;
}

.delete-icon:hover {
  filter: brightness(1.2);
}

.item-img-label {
  font-size: 14px;
}
