.detail-container {
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.detail-container__back {
  display: flex;
  align-items: center;
  padding: 25px 0 20px;
  cursor: pointer;
  text-decoration: none;
  width: 80px;
}

.detail-container__back .text {
  font-weight: 600;
  font-size: 16px;
  color: var(--gray-500);
  line-height: 19.09px;
}

.back-image {
  width: 15px;
  height: 14px;
}

.bottom-text{
  width: 600px;
  font-size: 16px;
  margin-bottom: 16px;
  margin-top: 40px;
  line-height: 19.90px;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1199px) {
  .detail-container {
    padding: 0 24px;
  }
}

@media (min-width: 365px) and (max-width: 767px) {
  .detail-container {
    padding: 0 25px;
  }
}
