@import url('../../css/typography.css');

.create-input-package {
  margin: 8px 0;
  background-color: #fafafb;
  border-radius: 25px;
}

.create-input-package .create-label {
  margin: 0;
  font-weight: 600;
}

.create-input-package .create-input {
  font-weight: 400;
}
